<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Welcome to doc-search</title>
    </head>
    <body>
        <!-- navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{servlet-context}}/">doc-search</a>
                </div>
                <div class="navbar-collapse collapse" id="main-navbar">
                    <ul class="nav navbar-nav">
                        <li class="{{home-selected}}"><a href="{{servlet-context}}/">Home</a></li>
                        <li class="{{search-selected}}"><a href="{{servlet-context}}/search">Search</a></li>
                        <li class="{{new-document-selected}}"><a href="{{servlet-context}}/new-document">New document</a></li>
                        <li class="{{report-selected}}"><a href="{{servlet-context}}/report">Report</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container col-md-6 col-md-offset-3">
            {% block content %}
            {% endblock %}
        </div>
        <!-- scripts and styles -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% style "/css/screen.css" %}

        <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            var context = "{{servlet-context}}";
        </script>
        {% block page-scripts %}
        {% endblock %}
    </body>
</html>

