{% extends "templates/base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Welcome to doc-search</h1>
        <p>Time to start building your site!</p>
        <p><a class="btn btn-primary btn-lg" href="/search">Search now &raquo;</a></p>
    </div>

    {% for document in documents %}
        <h3>Document #{{document.id}}</h2>
        <div class="well well-sm">
            {{document.content}}
        </div>
    {% endfor %}
{% endblock %}
