{% extends "templates/base.html" %}
{% block content %}
  <h2>New document</h2>
  <br />
  <form action="{{servlet-context}}/new-document" method="POST">
    <div class="form-group">
      <label for="content">Content</label>
      <p>
        <textarea class="form-control" id="content" name="content" rows="8" type="text"></textarea>
      </p>
      <input class="btn btn-primary" type="submit" value="Save" />
    </div>
  </form>
{% endblock %}
