{% extends "templates/base.html" %}
{% block content %}
    <h2>Report</h2>
    <br />
    <form action="{{servlet-context}}/report" method="GET">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input class="form-control" id="from" name="from" type="date" value="{{from|default:2014-10-01}}"/>
                </div>
            </div>
            <div class="col-sm-1 text-center">___</div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input class="form-control" id="to" name="to" type="date" value="{{to|default:2014-10-31}}"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="granularity">Granularity&nbsp;&nbsp;</label>
            <label class="radio-inline">
                <input type="radio" id="granularity" name="granularity" value="hour" {% ifequal granularity "hour" %}checked="checked"{% endifequal %}>Hour</type>
            </label>
            <label class="radio-inline">
                <input type="radio" id="granularity" name="granularity" value="day" {% ifequal granularity "day" %}checked="checked"{% endifequal %}>Day</type>
            </label>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Generate" />
        </div>
    </form>
    <hr />
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                {% for column in columns %}
                    <th>{{column}}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in results %}
                    <tr>
                        {% for val in row %}
                            <td>{{val|default:"-"}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
