{% extends "templates/base.html" %}
{% block content %}
    <h2>Search</h2>
    <br />
    <form action="{{servlet-context}}/search" method="GET">
        <div class="form-group">
            <div class="row form-group">
                <div class="col-md-10">
                    <input class="form-control" id="q" name="q" type="text" value="{{q}}"/>
                </div>
                <div class="col-md-2">
                    <input class="btn btn-primary form-control" type="submit" value="Search" />
                </div>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" id="operator" name="operator" value="and" {% ifequal operator "and" %}checked="checked"{% endifequal %}>AND</type>
                </label>
                <label class="radio-inline">
                    <input type="radio" id="operator" name="operator" value="or" {% ifequal operator "or" %}checked="checked"{% endifequal %}>OR</type>
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" id="type" name="type" value="exact" {% ifequal type "exact" %}checked="checked"{% endifequal %}>Exact string matching</type>
                </label>
                <label class="radio-inline">
                    <input type="radio" id="type" name="type" value="dict" {% ifequal type "dict" %}checked="checked"{% endifequal %}>Use dictionaries</type>
                </label>
                <label class="radio-inline">
                    <input type="radio" id="type" name="type" value="fuzzy" {% ifequal type "fuzzy" %}checked="checked"{% endifequal %}>Fuzzy string matching</type>
                </label>
            </div>
        </div>
    </form>
    <label for="sql">SQL</label>
    <div class="well well-sm" id="sql" name="sql">{{sql}}</div>

    {% for result in results %}
        <blockquote>
            <a href="/documents/{{result.id}}">{{result.text|safe}}</a>
        </blockquote>
    {% endfor %}
{% endblock %}
